body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.ProseMirror {
  outline: none;
}

.MuiDrawer-paperAnchorBottom {
  height: 100% !important;
}

.github-picker {
  padding: 0 !important;
  box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
}

.leaflet-container {
  overflow: unset !important;
}

.twitter-picker {
  padding: 0 !important;
  box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
}

.MuiPopover-root,
.MuiPopper-root {
  z-index: 1405 !important;
}

.notistack-MuiContent > div {
  margin: auto;
  text-align: center;
}

.locationListItem .locationListItem-sortButton {
  display: none;
}

.locationListItem:hover .locationListItem-sortButton {
  display: inherit;
}
